-i https://pypi.org/simple
amqp==5.0.2
asgiref==3.3.2
attrs==20.3.0
billiard==3.6.3.0
celery==5.0.3
certifi==2021.5.30
chardet==4.0.0
citeproc-py==0.6.0
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
click==7.1.2
cython==3.0
django-countries==7.6.1
django-crispy-forms==1.10.0
django-filter==2.4.0
django-ipware==3.0.2
django-import-export==2.8.0
django==3.2.14
djangorestframework==3.12.2
django-model-utils==4.3.1
drf-recaptcha==2.2.1
gunicorn==20.0.4
idna==2.10
ipython-genutils==0.2.0
jinja2==3.0.3
jsonschema==3.2.0
jupyter-core==4.7.1
jupyter-contrib-nbextensions==0.5.1
kombu==5.0.2
lxml==5.3.1
marko==1.0.3
nbconvert==6.4.4
nbformat==5.0.8
notebook==6.2.0
packaging==21.3
Pillow==10.1.0
prompt-toolkit==3.0.8
psycopg2-binary==2.8.6
pycountry==22.3.5
pyrsistent==0.17.3
pytz==2020.4
qrcode==7.3
redis==3.5.3
requests==2.25.1
shortuuid==1.0.1
six==1.15.0
sqlparse==0.4.1
traitlets==5.0.5
urllib3==1.26.6
vine==5.0.0
wcwidth==0.2.5
weasyprint==52.5
