{% extends "jdhseo/default.html" %}

{% block title %}{{nb.title_plain}} - Journal of Digital History{% endblock %}

{% block head %}
<meta property="og:title" content="{{nb.title_plain}}" />
<meta property="og:description" content="{{nb.abstract_plain}}" />
<meta property="og:site_name" content="Journal of Digital History" />
<meta property="og:type" content="website" />
<meta property="og:image" content="{{ article.data.socialmediacover }}" />
<meta property="og:url" content="{{ article_absolute_url }}" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@Journal_DigHist" />
<meta name="twitter:title" content="{{nb.title_plain}}" />
<meta name="twitter:description" content="{{nb.abstract_plain}}" />
<meta name="twitter:image" content="{{ article.data.socialmediacover }}" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&family=Fira+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.3.0/paper.css">
<style>
  body{
    font-family: 'Fira Sans', sans-serif;
    font-size: 10pt;
    line-height: 1.5em;
  }
  .code, code, pre{
    font-family: 'Fira Code', monospace;
  }
  .abstract p:first-child:first-letter {
    font-family: 'Fira Code', monospace;
    font-weight: bold;
  }
  a{
    color: black;
  }
  .collaborators a{
    text-decoration: none;
    font-weight: bold;
  }
  .contributors a > img {
    /* ordic badge */
    width: 4mm;
    height: 4mm;
  }
  .desktop a {
    text-decoration: underline;
    font-weight: bold;
  }
  p{
    margin: 0;
  }
  .paragraph_num {
    position: absolute;
    left: 40px;
    color: gray;
    font-weight: bold;
    font-size: 12px;
  }

@page {
    size: A4;
    margin: 1cm;
  }
  .position-relative{
    position: relative;
  }


  @media print {

    blockquote{
      border-left: 1pt black solid;
      padding-left: 5mm;
      margin-left: 5mm;
      margin-right: 5mm;
    }

    .title{
      max-width: 75%;
    }
    .abstract{
      font-size: 12pt;
      line-height: 18pt;
    }
    .keywords{
      font-size: 12pt;
    }
    .abstract p:first-child:first-letter {
      float: left;
      height: 36pt;
      font-size: 36pt;
      line-height: 36pt;
      margin-right: 1mm;
      font-family: 'Fira Code', monospace;
      font-weight: bold;
    }
    .collaborators{
      max-width: 50%;
    }
    .page-break {page-break-after: always;}
    .dual-column{
      column-count: 2;
      -webkit-column-count: 2;
      -moz-column-count: 2;
    }
    h1{
      font-size: 25pt;
      line-height: 1.5em;
    }
    h2{
      margin: 15mm 0 5mm;
    }
    h3{
      margin: 10mm 0 5mm;
    }
    .mb5{
      margin-bottom: 5mm;
    }
    .mb10{
      margin-bottom: 10mm;
    }
    .mb15{
      margin-bottom: 15mm;
    }
    .mb20{
      margin-bottom: 20mm;
    }
    .mt5{
      margin-top: 5mm;
    }
    .mt10{
      margin-top: 10mm;
    }
    .mr10{
      margin-right: 10mm;
    }
    .mt20{
      margin-top: 20mm;
    }
    .mt25{
      margin-top: 25mm;
    }
    .contributors{
      display: flex;
      max-width: 75%;
    }
    .contributor h3{
      margin-top: 0;
      margin-bottom: 0;
    }
  }
</style>
{% endblock %}


{% block content %}
{% autoescape off %}
<section class="sheet padding-20mm">
  <article class="position-relative">
    <div style="position: absolute; left:0mm; top:-20mm; display: flex">
      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 100" width="50">
        <rect x="70" y="50" width="10" height="10" rx="5"/>
        <path fill="black" d="M130,40H120V20H100V10H70V30H60V20H30V50H10V90H60V80H90V90h50V40ZM40,80H20V60H30V70H40V30H50V80ZM80,70H60V40H80V20H90V70Zm50-10V80H120V60H110V80H100V30h10V50h20Z"/>
      </svg>
      <div style="font-weight: bold; font-size:9pt; line-height:11pt; margin-left: 2mm; margin-top:.5mm">Journal of <br>Digital History</div>
    </div>
    <!-- img src="{{ qr_code }}" style="width:20mm; position: absolute; right:0; top:-20mm" -->

    <div class="title mt25 mb10">
    {% for t in nb.title %}
      {{ t }}
    {% endfor %}
    </div>
    <div class="contributors mb5">
      {% for t in nb.contributor %}
        <div class="contributor mr10">
        {{ t }}
        </div>
      {% endfor %}
    </div>
    <div class="collaborators mb20">
      {% for t in nb.collaborators %}
        {{ t }}
      {% endfor %}
    </div>
    <div>
      <p class="desktop" style="font-size:8pt; line-height:12pt">
        <a href="{{ doi_url }}">{{ doi_url }}</a>
      </p>
      <p class="desktop" style="font-size:8pt; line-height:12pt">
        {% if published_date %}
        Published online the {{ published_date|date:"j"}}{{ published_date|date:"S"}} {{ published_date|date:"F"}} {{ published_date|date:"Y"}}
        {% endif%}
      </p>
      <p class="desktop" style="font-size:8pt; line-height:12pt">
        For optimized experience read this article using <a href="{{ article_absolute_url }}">this link</a>.
        <br>
        You can also
        <a href="mailto:?subject=Read%20on%20JDH%20%22{{nb.title_plain}}%22&body=Hello!%0D%0AHere%20is%20your%20reminder%20as%20requested%0D%0A%0D%0ALink%3A%20{{ article_absolute_url }}">
          send yourself a link to this article
        </a> for a later, more comfortable read.
      </p>
    </div>
    <div class="keywords mb5 mt5">
      {% for t in nb.keywords %}
        {{ t }}
      {% endfor %}
    </div>
    <div class="abstract dual-column mb5">
      {% for t in nb.abstract %}
        {{ t }}
      {% endfor %}
    </div>
    <div class="disclaimer">
    {% for t in nb.disclaimer %}
      {{ t }}
    {% endfor %}
    </div>
  </article>
</section>
<section class="sheet padding-20mm">
  <article>
  {% for t in nb.paragraphs %}
    <div class="paragraph mb5">
      <div class="paragraph_num">{{ t.num }}</div>
      <div>{{ t.source }}</div>
    </div>
  {% endfor %}
  </article>
  <h2 >Bibliography</h2>
  {% for t in nb.bibliography %}
    <div class="paragraph mb5">
    {{ t }}
    </div>
  {% endfor %}
</section>
{% endautoescape %}
{% endblock %}