name: Run unit tests

on: 
  pull_request:
    branches: 
      - develop
  push:
    branches:
      - develop

jobs:

  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1

      - name: Set up Python 3.12
        uses: actions/setup-python@v1
        with:
          python-version: 3.12
 
      - name: Install dependencies
        run: |
          python -m pip install pip==23.1.2
          pip install -r requirements.txt
     
      - name: Lint with flake8
        run: |
          pip install flake8
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

      - name: Django Test
        run : |
          pipenv run python3 manage.py test

          

          
